.et-key-word {
   display: inline-block;
    padding: 2px 6px;
    border-radius: 12px;
    font-size: 12px;
    box-shadow: #cccccc 2px 2px 2px;
    color: white;
    margin-top: 10px;
    margin-left: 8px;
}
.etk-exceptionfullname {
    background-color: #337ab7;
}
.etk-browser {
    background-color: #006633;
}
.etk-appname {
    background-color: #665f24;
}
.etk-username {
    background-color: #666666;
}
.etk-useragent {
    background-color: #003333;
}
.etk-catchclassname {
    background-color: #CC0066;
}
.etk-message {
    background-color: rgb(108, 73, 73);
}
.etk-stacktrace {
    background-color: #336666;
}
.et-key-word >span{
    vertical-align: middle;
}
.et-kw-split {
    display: inline-block;
    margin-right: 7px;
}
.et-kw-text {
    display: inline-block;
    font-style: italic;
    margin-right: 7px;
}
.et-kw-operator {
    display: inline-block;
    margin-right: 0;
}
.et-kwo-remove {
    cursor: pointer;
    border-radius: 12px;
    display: inline-block;
    height: 16px;
    width: 16px;
    border: 2px solid;
    vertical-align: middle;
    line-height: 12px;
    text-align: center;
    font-size: 8px;
}

.et-picker {

}
.et-picker-input-container {
    height: 22px;
    line-height: 22px;
}
.et-pi-fieldSelector {
    height: inherit;
    display: inline-block;
    width: 130px;
}
.et-pi-input {
    display: inline;
    height: 20px;
    width: 200px;
    border-radius: 6px;
    box-sizing: border-box;
}
.et-picker-add {
    border-radius: 6px;
    margin-left: 8px;
    cursor: pointer;
    text-align: center;
    height: 18px;
    line-height: 16px;
    font-size: 11px;
    padding: 0 4px;
    color: white;
    background-color: #1ab394;
}
.et-picker-content {
    margin-top: 8px;
    margin-right: 14px;
    /*border-radius: 4px;*/
    padding-bottom: 20px;
    border-bottom: solid 1px #cccccc;
}